.App {
  text-align: center;
  background: black;
  color:white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.highlight {
  color: green;
}
.bubble{
  width: 60px;
  height: 60px;
  border: 3px white solid;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  position: relative;
  text-align: center;
}
.bubble-container{
  width: 100%;
  height: 25%;
  display: inline-block;
  border-bottom: 1px #4cbb17 solid;
}
.bubble-text{
  display: inline-block;
  text-align: center;
  position: relative;
  font-size:20px;
  right: 66px;
  top: 10px;

}
.bubble-text-checkout{
  display: inline-block;
  text-align: center;
  position: relative;
  font-size:20px;
  right: 85px;
  top: 10px;
}
.page-header-case{
  padding-top: 80px;
  width: 50%;
  height: 50%;
  display: inline-block;
  border-bottom: 1px #4cbb17 solid;
}
.img-div-case{
  padding-top: 80px;
  width: 50%;
  height: 50%;
  display: inline-block;
}
.img-div{
  padding-top: 80px;
  width: 50%;
  height: 50%;
  display: inline-block;
}
.page-header{
  border-bottom: 1px #4cbb17 solid;
}
.core-items{
  width: 50%;
  height:50%;
  float: right;
}
.main-desc{
  display: inline-block;
  width: 40%;
  height: 50%;
}
.items{
  display:inline-block;
  width: 60%;
  height: 50%;
}
.name {
  display: inline-block;

}
.price {
  float: right;
  margin-right: 800px;
  margin-left: 100px;
  display: inline-block;
}
span.price {
  float: right;
  margin-right: 300px;
  display: inline-block;
}
span {
  margin-right: 300px;
}
