

.App {
  text-align: center;
  background: black;
  color:white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.highlight {
  background: #4cbb17;
}
.bubble{
  width: 60px;
  height: 60px;
  border: 3px white solid;
  border-radius: 50%;
  display: inline-block;
  margin: 30px;
  position: relative;
  text-align: center;
  left: 20px;
  top: 5px;
}
.bubble-container{
  width: 90%;
  height: 150px;
  display: inline-block;
  border-bottom: 1px #4cbb17 solid;
}
.bubble-text{
  display: inline-block;
  text-align: center;
  position: relative;
  font-size:20px;
  right: 0px;
  top: 60px;
}
.bubble-text-checkout{
  display: inline-block;
  text-align: center;
  position: relative;
  font-size:20px;
  right: 15px;
  top: 60px;
}
.page-header-case{
  padding-top: 80px;
  width: 50%;
  height: 50%;
  display: inline-block;
  border-bottom: 1px #4cbb17 solid;
}
.img-div-case{
  padding-top: 80px;
  width: 50%;
  height: 50%;
  display: inline-block;
}
.img-div{
  padding-top: 80px;
  width: 50%;
  height: 50%;
  display: inline-block;
}
img{
  width: 60%;
  height: 60%;
}

.page-header{
  border-bottom: 1px #4cbb17 solid;
  width: 50%;
  margin: 0 auto;
  height: 40px;
}
.core-items{
  padding-top: 60px;
  width: 50%;
  height:50%;
  float: right;
}
.main-desc{
  display: inline-block;
  width: 40%;
  height: 50%;
  vertical-align: top;
}
.items{
  display:inline-block;
  width: 60%;
  height: 50%;
}

.main-title{
  border-bottom: 1px #4cbb17 solid;
  width: 75%;
  margin: 0 auto;
  vertical-align: top;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e8d722;
}
.main-text{
  text-align: left;
  margin: 0 auto;
  vertical-align: top;
  margin-right: 10px;
}
.name {
  display: inline-block;

}
.price {
  float: right;
  margin-right: 800px;
  margin-left: 100px;
  display: inline-block;
}
span.price {
  float: right;
  margin-right: 300px;
  display: inline-block;
}
span {
  margin-right: 300px;
}
.textbox {
	width: 221px;
	color : #747862;
	height:20px;
	border:1px;
	padding:4px 8px;
	margin-bottom:0px;
}
strong {
  font-size: 25px;
  font-weight: none;
  letter-spacing: 2px;
}
.products {
  text-align: left;
  margin-left: 80px;
}
